<div class="blog-masthead">
    <div class="container">
        <div class="nav blog-nav">
         <%= nav_helper 'nav-link', 'span' %>
         <%= login_helper 'nav-link' %>
            
        </div>
    </div>
</div>